{% extends "layout.html" %}
{% block body %}


<div class="container" >
    <form method="post">
      {% csrf_token %}
        <div class="form-group">
          <label for="exampleInputEmail1">Banner Name</label>
          <input name="bannerName" class="form-control"placeholder="Banner Name">
          <small id="emailHelp" class="form-text text-muted"></small>
        </div>
        <div class="form-group">
            <label for="exampleFormControlFile1">Example file input</label>
            <input name="imageFile" type="file" class="form-control-file" id="exampleFormControlFile1">
          </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
</div>


{% endblock body %}