{% extends "layout.html" %}
{% block body %}


<div class="container">
    <div class="page-section section section-padding">
        <div class="container">
            <div class="row mbn-40">
    
                <div class="col-lg-6 col-12 mb-40 ml-auto">
                    <div class="login-register-form-wrap">
                        <h3>Uye Ol</h3>
                        <form id="form-login contact-form" method="post" action="/@Global.Lang/uyeol">
                            <div class="row">
                               
                                <div class="col-md-6 col-12 mb-15">
                                    <input type="text" name="AdiSoyadi" placeholder="Ad">
                                </div>
    
                                <div class="col-md-6 col-12 mb-15">
                                    <input type="text" name="KullaniciAdi" placeholder="FirmaAdi">
                                </div>
    
                                <div class="col-md-6 col-12 mb-15">
                                    <input type="email" name="Eposta" placeholder="EmailAdres">
                                </div>
    
                                <div class="col-md-6 col-12 mb-15">
                                    <input type="text" name="CepTelefonu" placeholder="CepTelefonu">
                                </div>
                                <div class="col-md-6 col-12 mb-15">
                                    <input type="text" name="SabitTelefonu" placeholder="SabitTelefon">
                                </div>
    
    
                                <div class="col-md-6 col-12 mb-15">
                                    <input type="password" id="sifre" name="Sifresi" placeholder="Sifre">
                                </div>
    
                                <div class="col-md-6 col-12 mb-15">
                                    <input type="password" name="SifreTekrar" placeholder="SifreTekrar">
                                </div>
    
                                <div class="col-md-6 col-12 mb-15">
                                    <textarea placeholder="Adres" class="input-large" rows="4" name="Adress" style="min-width:100%;height:40px;border-radius:17px;padding-left:8px;padding-top:8px;"></textarea>
                                </div>
                                <!-- Default unchecked-->
                                <div class="col-md-6 col-12 mb-15">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="defaultUnchecked">
                                        <label class="custom-control-label" for="defaultUnchecked">
                                            Kullanım ve Gizlilik Sözleşmesini okudum, onaylıyorum
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12 mb-15">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="selam">
                                        <label class="custom-control-label" for="selam">
                                            Aydınlatma Metnini okudum , onaylıyorum
                                        </label>
                                    </div>
                                </div>
    
                                <div class="col-md-6 col-12 contact-form">
                                    <input type="submit" value="UyeOl">
                                </div>
    
                            </div>
    
                        </form>
                    </div>
                </div>
    
                
    
            </div>
        </div>
    </div>
</div>



{% endblock body %}